body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
}

/* Score Container */
.main-container {
  border: solid hsl(217, 16%, 45%) 2px;
  border-radius: 0.5em;
  width: 40%;
  height: 17vh;
  margin: 0 auto;
  margin-top: 5vh;
  color: hsl(0, 0%, 100%);
}

.second-container {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  height: 100%;
}

#rsp {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  padding-left: 10%;
}

.score-container {
  background-color: hsl(0, 0%, 100%);
  margin: 20px 0 0 175px;
  text-align: center;
  width: 50%;
  height: 75%;
  border-radius: 0.5em;
}

#score {
  color: hsl(229, 64%, 46%);
}

#score-span {
  color: hsl(229, 25%, 31%);
}

/* Rock, Paper, Scissors Diagram */
.content {
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.diagram-container {
  width: 22%;
  height: 65vh;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
}

.svg {
  margin-top: 11vh;
  padding: 25px;
  border: solid 15px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
}

#paper {
  float: left;
  border-color: hsl(229, 48%, 50%);
}

#scissors {
  float: right;
  border-color: hsl(46, 84%, 50%);
}
#rock {
  margin-top: 38vh;
  border-color: hsl(2, 78%, 58%);
}

#footer {
  margin-top: 80px;
}

/* Rules Modal */
#modalBtn {
  float: right;
  margin-right: 3vw;
  border-radius: 0.5em;
  width: 10%;
}

.modal {
  display: none;
  height: 40vh;
  width: 25vw;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 0.7em;
}

.modal-header {
  text-align: left;
  margin-left: 7px;
}

#close {
  float: right;
  margin: 7px 7px 0 0;
}
