body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
}

.main-container {
  border: solid hsl(217, 16%, 45%) 2px;
  border-radius: 0.5em;
  width: 40%;
  height: 17vh;
  margin: 0 auto;
  margin-top: 3vh;
  color: hsl(0, 0%, 100%);
}

.second-container {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  height: 100%;
}

#rsp {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  padding-left: 10%;
}

.score-container {
  background-color: hsl(0, 0%, 100%);
  margin: 20px 0 0 125px;
  text-align: center;
  width: 50%;
  height: 75%;
  border-radius: 0.5em;
}

#score {
  color: hsl(229, 64%, 46%);
}

#score-span {
  color: hsl(229, 25%, 31%);
}
